html,
body,
.intro {

  background-image: url("../images/nasa.jpg");
  background-position: center;
}
.jumbotron {
  background-size: 100% 100%;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
}

.jumbotron h1 {
  font-size: 25;
  font-weight: bold;
}

.jumbotron p {
  font-size: 12;
}


table td,
table th {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat';
}


.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

thead {
  top: 0;
  position: sticky;
}

/* nabar */

.navbar {
  background-color: #333;
  color: #fff;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #ccc;
}
